.mainContent {
  margin-left: 250px;
  padding-top: 80px;
  min-height: 100vh;
  background-color: #f5f5f5;
}

@media (max-width: 768px) {
  .mainContent {
    margin-left: 0;
    padding-top: 60px;
  }
}

